# Library

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import missingno as msno
import numpy as np
import plotly.express as px
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.metrics import mean_absolute_error,mean_squared_error
from lazypredict.Supervised import LazyRegressor

# Dataset

In [2]:
data = pd.read_csv('D:/Project/Salary Prediction/train.csv',delimiter='|')

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31746 entries, 0 to 31745
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    31746 non-null  int64
 1   job_title             31746 non-null  object
 2   location              31746 non-null  object
 3   salary_currency       31742 non-null  object
 4   career_level          31746 non-null  object
 5   experience_level      27454 non-null  object
 6   education_level       31746 non-null  object
 7   employment_type       30402 non-null  object
 8   job_function          31746 non-null  object
 9   job_benefits          25078 non-null  object
 10  company_process_time  22601 non-null  object
 11  company_size          26582 non-null  object
 12  company_industry      30232 non-null  object
 13  job_description       31745 non-null  object
 14  salary                6352 non-null   float64
dtypes: float64(1), int64(1), object(13)
memory usage: 3.6+ MB

In [4]:
data

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
0,1,Facility Maintenance & Smart Warehouse Manager,Bandung,IDR,Manajer/Asisten Manajer,5 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Manufaktur,Pemeliharaan",NaN,NaN,NaN,NaN,Deskripsi PekerjaanRequirements :D3/SI from re...,NaN
1,2,Procurement Department Head,Jakarta Raya,IDR,Manajer/Asisten Manajer,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Manufaktur,Pembelian/Manajemen Material",NaN,25 days,51 - 200 pekerja,Manajemen/Konsulting HR,Job Role:Â 1. Responsible for material availabi...,NaN
2,3,SALES ADMIN,Jakarta Barat,IDR,Supervisor/Koordinator,4 tahun,Sarjana (S1),Penuh Waktu,"Penjualan / Pemasaran,Penjualan Ritel","Waktu regular, Senin - Jumat;Bisnis (contoh: K...",30 days,51 - 200 pekerja,Umum & Grosir,Internal Sales & AdminJob Description :We are ...,NaN
3,4,City Operation Lead Shopee Express (Cirebon),Cirebon,IDR,Supervisor/Koordinator,5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Pelayanan,Logistik/Rantai Pasokan","Tip;Waktu regular, Senin - Jumat;Kasual (conto...",21 days,2001 - 5000 pekerja,Retail/Merchandise,Job Description:Responsible for HSE implementa...,NaN
4,5,Japanese Interpreter,Bekasi,IDR,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Lainnya,Jurnalis/Editor",NaN,23 days,201 - 500 pekerja,Manajemen/Konsulting HR,Overview: Our clients is manufacture for autom...,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31741,31742,Deputy Head of Internal Audit,Jakarta Selatan,IDR,Pegawai (non-manajemen & non-supervisor),5 tahun,"Sarjana (S1), Diploma Pascasarjana, Gelar Prof...",Penuh Waktu,"Akuntansi / Keuangan,Perbankan / Jasa Finansial",Asuransi Gigi;Asuransi kesehatan;Parkir;Pengli...,29 days,201 - 500 pekerja,Perbankan/Pelayanan Keuangan,Key Responsibilities :Conduct audits to review...,NaN
31742,31743,Foreman Warehouse & Logistic,Surabaya,IDR,Supervisor/Koordinator,3 tahun,Sarjana (S1),Penuh Waktu,"Manufaktur,Pembelian/Manajemen Material",Tip;Asuransi kesehatan;Parkir;Bisnis (contoh: ...,26 days,1001 - 2000 pekerja,Manufaktur/Produksi,"KRITERIA dan SYARATS1 Tehnik Industri, Statisi...",NaN
31743,31744,System Analyst,Jakarta Selatan,IDR,Pegawai (non-manajemen & non-supervisor),3 tahun,Sarjana (S1),Penuh Waktu,"Komputer/Teknologi Informasi,IT-Perangkat Lunak","Tip;Asuransi kesehatan;Waktu regular, Senin - ...",11 days,51 - 200 pekerja,"Konsultasi (IT, Ilmu Pengetahuan, Teknis & Tek...","Tanggung jawab:Mengumpulkan, menganalisa kebut...",NaN
31744,31745,Sous Chef,Lombok,IDR,Pegawai (non-manajemen & non-supervisor),8 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Hotel/Restoran,Makanan/Minuman/Pelayanan Restoran",NaN,NaN,NaN,Makanan & Minuman/Katering/Restoran,Candidate must posses at least bachelor degree...,9000000.00
31745,31746,Maintenance Officer,Manado,IDR,Pegawai (non-manajemen & non-supervisor),3 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",Penuh Waktu,"Bangunan/Konstruksi,Teknik Sipil/Konstruksi Ba...","Asuransi kesehatan;Waktu regular, Senin - Juma...",29 days,2001 - 5000 pekerja,Retail/Merchandise,Your responsibilities:The job of an H&M Mainte...,NaN

# Missing Value

In [5]:
data.isnull().sum()

id                          0
job_title                   0
location                    0
salary_currency             4
career_level                0
experience_level         4292
education_level             0
employment_type          1344
job_function                0
job_benefits             6668
company_process_time     9145
company_size             5164
company_industry         1514
job_description             1
salary                  25394
dtype: int64

Baris dengan salary yang missing akan kita hapus karena tidak memungkinkan apabila kita melatih model dengan variabel dependen yang missing

In [6]:
data2= data.dropna(subset=['salary'])

In [7]:
data2.isnull().sum()

id                         0
job_title                  0
location                   0
salary_currency            0
career_level               0
experience_level         533
education_level            0
employment_type            0
job_function               0
job_benefits            1534
company_process_time    2149
company_size             945
company_industry         192
job_description            0
salary                     0
dtype: int64

In [8]:
data2.head()

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
5,6,KEPALA PABRIK,Balikpapan,IDR,Supervisor/Koordinator,NaN,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Manufaktur,Manufaktur",Asuransi kesehatan;Bisnis (contoh: Kemeja);Pro...,18 days,51 - 200 pekerja,Manufaktur/Produksi,"Tedmond Groups membuka Lowongan Kepala Pabrik,...",10500000.00
9,10,Tax Supervisor,Banten,IDR,Supervisor/Koordinator,3 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Akuntansi / Keuangan,Audit & Pajak","Tip;Asuransi kesehatan;Waktu regular, Senin - ...",22 days,51 - 200 pekerja,Konstruksi/Bangunan/Teknik,ResponsibilitiesPrepare corporate income tax (...,8000000.00
18,19,Accounting Staff,Jakarta Pusat,IDR,Pegawai (non-manajemen & non-supervisor),1 tahun,"SMA, SMU/SMK/STM, Sertifikat Professional, D3 ...",Penuh Waktu,"Akuntansi / Keuangan,Akuntansi Umum / Pembiayaan",Tip;Asuransi kesehatan;Bisnis (contoh: Kemeja)...,NaN,1- 50 pekerja,Manufaktur/Produksi,DESKRIPSI PEKERJAAN:Memeriksa dan/atau membuat...,4750000.00
22,23,Senior Staff Purchasing,Surabaya,IDR,Pegawai (non-manajemen & non-supervisor),2 tahun,"Sertifikat Professional, D3 (Diploma), D4 (Dip...",Penuh Waktu,"Manufaktur,Pembelian/Manajemen Material",Asuransi kesehatan;Jam Bekerja yang Panjang;Bi...,29 days,1- 50 pekerja,Elektrikal & Elektronik,Deskripsi Pekerjaan:Mampu melakukan rencana pe...,5250000.00
26,27,MARKETING COMMUNICATION & CHANNEL MANAGER,Jakarta Pusat,IDR,Manajer/Asisten Manajer,2 tahun,Tidak terspesifikasi,Penuh Waktu,"Penjualan / Pemasaran,Pemasaran/Pengembangan B...",Asuransi Gigi;Asuransi kesehatan;Parkir;Waktu ...,29 days,51 - 200 pekerja,"Konsultasi (IT, Ilmu Pengetahuan, Teknis & Tek...","SCOPE OF ROLE :To plan, develop, implement and...",15000000.00

In [9]:
data2['education_level'].value_counts()

Sarjana (S1)                                                                                                                  1799
Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)                                                             1113
Tidak terspesifikasi                                                                                                          1099
SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1)                                            784
SMA, SMU/SMK/STM                                                                                                               421
Sertifikat Professional, D3 (Diploma), D4 (Diploma)                                                                            306
Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)                                                          295
Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)     276
SMA, SMU/SMK/STM, Sertifikat Professional, D3 (Diploma), D4 (Diploma)                                                          141
SMA, SMU/SMK/STM, Sarjana (S1)                                                                                                  53
Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)                                              29
Diploma Pascasarjana, Gelar Professional, Magister (S2)                                                                         11
SMA, SMU/SMK/STM, Sarjana (S1), Diploma Pascasarjana, Gelar Professional, Magister (S2)                                          9
Sertifikat Professional, D3 (Diploma), D4 (Diploma), Diploma Pascasarjana, Gelar Professional, Magister (S2)                     9
Diploma Pascasarjana, Gelar Professional, Magister (S2), Doktor (S3)                                                             3
Doktor (S3)                                                                                                                      2
Sarjana (S1), Doktor (S3)                                                                                                        1
Sertifikat Professional, D3 (Diploma), D4 (Diploma), Sarjana (S1), Doktor (S3)                                                   1
Name: education_level, dtype: int64

In [10]:
data2['job_title'].value_counts()

Sales Executive                                                 111
Sales                                                            51
Graphic Designer                                                 26
Sales Engineer                                                   25
Digital Marketing                                                25
                                                               ...
System Administrator                                              1
BULDING MANAGEMENT MANAGER                                        1
Paint Technician Leader                                           1
Sales Marketing Export Staff - Automotive (Bekasi) (B-73719)      1
Sous Chef                                                         1
Name: job_title, Length: 4317, dtype: int64

In [11]:
data2['career_level'].value_counts()

Pegawai (non-manajemen & non-supervisor)             3913
Supervisor/Koordinator                               1056
Manajer/Asisten Manajer                               807
Lulusan baru/Pengalaman kerja kurang dari 1 tahun     467
CEO/GM/Direktur/Manajer Senior                        109
Name: career_level, dtype: int64

In [12]:
data2['experience_level'].value_counts()

1 tahun     2095
2 tahun     1740
3 tahun     1098
5 tahun      599
4 tahun      125
10 tahun      62
7 tahun       35
8 tahun       30
6 tahun       15
15 tahun       8
12 tahun       7
20 tahun       3
11 tahun       1
17 tahun       1
Name: experience_level, dtype: int64

In [13]:
data2['location'].value_counts()

Jakarta Raya          1223
Jakarta Selatan        475
Jakarta Barat          453
Jakarta Utara          384
Tangerang              374
                      ...
Banjarbaru               1
Kapuas                   1
Bangka Belitung          1
Belitung                 1
Hulu Sungai Tengah       1
Name: location, Length: 164, dtype: int64

# Preprocessed

In [14]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6352 entries, 5 to 31744
Data columns (total 15 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    6352 non-null   int64
 1   job_title             6352 non-null   object
 2   location              6352 non-null   object
 3   salary_currency       6352 non-null   object
 4   career_level          6352 non-null   object
 5   experience_level      5819 non-null   object
 6   education_level       6352 non-null   object
 7   employment_type       6352 non-null   object
 8   job_function          6352 non-null   object
 9   job_benefits          4818 non-null   object
 10  company_process_time  4203 non-null   object
 11  company_size          5407 non-null   object
 12  company_industry      6160 non-null   object
 13  job_description       6352 non-null   object
 14  salary                6352 non-null   float64
dtypes: float64(1), int64(1), object(13)
memory usage: 794.0+ KB

## Lower Case All String

In [15]:
CATEGORICAL = data2.select_dtypes(['object']).columns
print(f"Categorical features: {', '.join(CATEGORICAL)}")

Categorical features: job_title, location, salary_currency, career_level, experience_level, education_level, employment_type, job_function, job_benefits, company_process_time, company_size, company_industry, job_description

In [16]:
CATEGORICAL = CATEGORICAL.to_list()

In [17]:
for cat in CATEGORICAL:
    data2[cat]=data2[cat].astype(str)
    data2[cat]=data2[cat].str.lower()

In [18]:
data2.head()

,id,job_title,location,salary_currency,career_level,experience_level,education_level,employment_type,job_function,job_benefits,company_process_time,company_size,company_industry,job_description,salary
5,6,kepala pabrik,balikpapan,idr,supervisor/koordinator,nan,"sertifikat professional, d3 (diploma), d4 (dip...",penuh waktu,"manufaktur,manufaktur",asuransi kesehatan;bisnis (contoh: kemeja);pro...,18 days,51 - 200 pekerja,manufaktur/produksi,"tedmond groups membuka lowongan kepala pabrik,...",10500000.00
9,10,tax supervisor,banten,idr,supervisor/koordinator,3 tahun,"sertifikat professional, d3 (diploma), d4 (dip...",penuh waktu,"akuntansi / keuangan,audit & pajak","tip;asuransi kesehatan;waktu regular, senin - ...",22 days,51 - 200 pekerja,konstruksi/bangunan/teknik,responsibilitiesprepare corporate income tax (...,8000000.00
18,19,accounting staff,jakarta pusat,idr,pegawai (non-manajemen & non-supervisor),1 tahun,"sma, smu/smk/stm, sertifikat professional, d3 ...",penuh waktu,"akuntansi / keuangan,akuntansi umum / pembiayaan",tip;asuransi kesehatan;bisnis (contoh: kemeja)...,nan,1- 50 pekerja,manufaktur/produksi,deskripsi pekerjaan:memeriksa dan/atau membuat...,4750000.00
22,23,senior staff purchasing,surabaya,idr,pegawai (non-manajemen & non-supervisor),2 tahun,"sertifikat professional, d3 (diploma), d4 (dip...",penuh waktu,"manufaktur,pembelian/manajemen material",asuransi kesehatan;jam bekerja yang panjang;bi...,29 days,1- 50 pekerja,elektrikal & elektronik,deskripsi pekerjaan:mampu melakukan rencana pe...,5250000.00
26,27,marketing communication & channel manager,jakarta pusat,idr,manajer/asisten manajer,2 tahun,tidak terspesifikasi,penuh waktu,"penjualan / pemasaran,pemasaran/pengembangan b...",asuransi gigi;asuransi kesehatan;parkir;waktu ...,29 days,51 - 200 pekerja,"konsultasi (it, ilmu pengetahuan, teknis & tek...","scope of role :to plan, develop, implement and...",15000000.00

## Experience_level

In [19]:
data2['experience_level']=data2['experience_level'].str.replace(" tahun","")

## Min Education Level

In [20]:
data2['education_level'].value_counts()

sarjana (s1)                                                                                                                  1799
sertifikat professional, d3 (diploma), d4 (diploma), sarjana (s1)                                                             1113
tidak terspesifikasi                                                                                                          1099
sma, smu/smk/stm, sertifikat professional, d3 (diploma), d4 (diploma), sarjana (s1)                                            784
sma, smu/smk/stm                                                                                                               421
sertifikat professional, d3 (diploma), d4 (diploma)                                                                            306
sarjana (s1), diploma pascasarjana, gelar professional, magister (s2)                                                          295
sertifikat professional, d3 (diploma), d4 (diploma), sarjana (s1), diploma pascasarjana, gelar professional, magister (s2)     276
sma, smu/smk/stm, sertifikat professional, d3 (diploma), d4 (diploma)                                                          141
sma, smu/smk/stm, sarjana (s1)                                                                                                  53
sarjana (s1), diploma pascasarjana, gelar professional, magister (s2), doktor (s3)                                              29
diploma pascasarjana, gelar professional, magister (s2)                                                                         11
sma, smu/smk/stm, sarjana (s1), diploma pascasarjana, gelar professional, magister (s2)                                          9
sertifikat professional, d3 (diploma), d4 (diploma), diploma pascasarjana, gelar professional, magister (s2)                     9
diploma pascasarjana, gelar professional, magister (s2), doktor (s3)                                                             3
doktor (s3)                                                                                                                      2
sarjana (s1), doktor (s3)                                                                                                        1
sertifikat professional, d3 (diploma), d4 (diploma), sarjana (s1), doktor (s3)                                                   1
Name: education_level, dtype: int64

In [21]:
len(data2['education_level'])

6352

In [22]:
data2['Education_Min_level']="Undefined"

In [23]:
for row in range(0,len(data2['education_level'])):
    if 'doktor' in data2['education_level'].iloc[row]: 
        data2['Education_Min_level'].iloc[row]='doktor'

for row in range(0,len(data2['education_level'])):
    if 'gelar professional' in data2['education_level'].iloc[row]: 
        data2['Education_Min_level'].iloc[row]='magister'

for row in range(0,len(data2['education_level'])):
    if 's1' in data2['education_level'].iloc[row]:
        data2['Education_Min_level'].iloc[row]='sarjana'

for row in range(0,len(data2['education_level'])):
    if "d3" in data2['education_level'].iloc[row]: 
        data2['Education_Min_level'].iloc[row]='diploma'

for row in range(0,len(data2['education_level'])):
    if 'sma' in data2['education_level'].iloc[row]:
        data2['Education_Min_level'].iloc[row]='SMA/SMK'
        
for row in range(0,len(data2['education_level'])):
    if 'tidak terspesifikasi' in data2['education_level'].iloc[row]:
        data2['Education_Min_level'].iloc[row]='tidak terspesifikasi'

In [24]:
data2['Education_Min_level'].value_counts()

sarjana                 2124
diploma                 1705
SMA/SMK                 1408
tidak terspesifikasi    1099
magister                  14
doktor                     2
Name: Education_Min_level, dtype: int64

## Job Function

In [25]:
data2['job_function'].value_counts()

penjualan / pemasaran,penjualan ritel                      718
komputer/teknologi informasi,it-perangkat lunak            581
akuntansi / keuangan,akuntansi umum / pembiayaan           458
penjualan / pemasaran,pemasaran/pengembangan bisnis        398
sumber daya manusia/personalia,sumber daya manusia / hr    264
                                                          ...
sains,geologi/geofisika                                      4
manufaktur,kontrol proses                                    3
sains,bioteknologi                                           1
pelayanan,layanan sosial/konseling                           1
lainnya,penerbitan                                           1
Name: job_function, Length: 67, dtype: int64

In [26]:
data2[['Main Job Function', 'Sub Main Job Function']] = data2['job_function'].str.split(',', expand=True)

In [27]:
data2['Main Job Function'].value_counts()

penjualan / pemasaran             2139
komputer/teknologi informasi       748
akuntansi / keuangan               728
sumber daya manusia/personalia     544
manufaktur                         372
pelayanan                          309
seni/media/komunikasi              273
teknik                             270
bangunan/konstruksi                255
hotel/restoran                     225
lainnya                            169
layanan kesehatan                  132
pendidikan/pelatihan               120
sains                               68
Name: Main Job Function, dtype: int64

In [29]:
data2['Sub Main Job Function'].value_counts()

penjualan ritel                  718
it-perangkat lunak               581
akuntansi umum / pembiayaan      458
pemasaran/pengembangan bisnis    398
sumber daya manusia / hr         264
                                ...
geologi/geofisika                  4
kontrol proses                     3
bioteknologi                       1
layanan sosial/konseling           1
penerbitan                         1
Name: Sub Main Job Function, Length: 67, dtype: int64

## Job Benefit

## Company Process Time

In [30]:
data2['company_process_time'] = data2['company_process_time'].str.replace(' days','')

## Re Defined Missing Value

In [37]:
data2=data2.replace('nan',np.NaN)
data2=data2.replace("Undefined",np.NAN)

In [38]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6352 entries, 5 to 31744
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     6352 non-null   int64
 1   job_title              6352 non-null   object
 2   location               6352 non-null   object
 3   salary_currency        6352 non-null   object
 4   career_level           6352 non-null   object
 5   experience_level       5819 non-null   object
 6   education_level        6352 non-null   object
 7   employment_type        6352 non-null   object
 8   job_function           6352 non-null   object
 9   job_benefits           4818 non-null   object
 10  company_process_time   4203 non-null   object
 11  company_size           5407 non-null   object
 12  company_industry       6160 non-null   object
 13  job_description        6352 non-null   object
 14  salary                 6352 non-null   float64
 15  Education_Min_level    6352 non-null   object
 16  Main Job Function      6352 non-null   object
 17  Sub Main Job Function  6352 non-null   object
dtypes: float64(1), int64(1), object(16)
memory usage: 942.9+ KB

# Missing Value Imputation